<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <form action="/savedata" method="post">
        <input type="hidden" name="id" value="<%= (userdata2.id != '')?userdata2.id:'' %>">
        Name:
        <input type="text" name="name" placeholder="Enter Username" value="<%= (userdata2.id != '')?userdata2.name:'' %>"><br><br>

        Age:
        <input type="number" name="age" placeholder="Enter age" value="<%= (userdata2.id != '')?userdata2.age:'' %>"><br><br>

        Email:
        <input type="text" name="email" placeholder="Enter email" value="<%= (userdata2.id != '')?userdata2.email:'' %>"><br><br>

        <input type="submit" value="save">

    </form>

    <br><br>

    <table border="2">
        <tr>
            <td>id</td>
            <td>Name</td>
            <td>Age</td>
            <td>Email</td>
            <td>Action</td>
        </tr>
        <% data.forEach((i)=>{ %>
           <tr>
            <td><%= i.id %></td>
            <td><%= i.name %></td>
            <td><%= i.age %></td>
            <td><%= i.email %></td>
            <td><a href="/edit/<%= i.id %>">Edit</a> <a href="/del/<%= i.id%>">Delet</a></td>
           </tr>
        <%}) %>
    </table>
</body>
</html>